<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body>
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
  <section class="content">
    <section class="container">
    <br>
      <h4>Recorder </h4>

      <div id="currentLevel"></div> <br>
      <div id="currentLeveltwo"></div> <br>
      <div id="currentLevelthree"></div><br>
      <div id="currentLevelfour"></div>
      <div id="audioSources"></div>
    </section>
  </section>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!-- Decibel script -->
  <script type="text/javascript" src="customlib/decibel-meter/decibel-meter.js"></script>

  <script>
    var meter = DecibelMeter.create('unique-id');
    var meterTwo = DecibelMeter.create('two');
    var meterThree = DecibelMeter.create('three');
    var meterFour = DecibelMeter.create('fpir');

    meterTwo.on('ready', function(meterTwo, sources) {
      meterTwo.connect(sources[0], function() {
        meterTwo.listen();
      });
      meterTwo.on('sample', function(dB, percent, value) {
        document.getElementById('currentLeveltwo').innerHTML = dB;
      });
    });

    meterThree.on('ready', function(meterThree, sources) {
      meterThree.connect(sources[1], function() {
        meterThree.listen();
      });
      meterThree.on('sample', function(dB, percent, value) {
        document.getElementById('currentLevelthree').innerHTML = dB;
      });
    });

    meterFour.on('ready', function(meterFour, sources) {
      meterFour.connect(sources[2], function() {
        meterFour.listen();
      });
      meterFour.on('sample', function(dB, percent, value) {
        document.getElementById('currentLevelfour').innerHTML = dB;
      });
    });


    var audioSources;

    var currentLevel = 0;
    var currentPercentage = 0;

    var connectCallback = function() {
      meter.listen();
    }

    var lastNumber = 0;

    meter.on('ready', function (meter, sources) {
      audioSources = sources;

      meter.connect(audioSources[0], connectCallback); // connect to first source, assumes meter is ready
      meter.on('sample', function (dB, percent, value) {
        var actualDB = Number(dB.toFixed(1));
        actualDB += 110;
        if(lastNumber < actualDB) {
          lastNumber = actualDB;
        }
        currentPercentage = percent;
      });
    });

  </script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  <script>

   var socket = io();

   var emitName = 'dbChange';

    var updateDB = function() {
      var level = document.getElementById('currentLevel');
      level.innerHTML = lastNumber + ' dB'; // display current dB level
      socket.emit(emitName, lastNumber);
      lastNumber = 0;
    };
    setInterval(updateDB, 5000);

  </script>

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>

</html>
